html, body {
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}

.main {
    text-align: center;
    margin-top: 30px;
}

.calculator {
    margin: 0 auto;
    padding: 10px;
    width: 350px;
    background-color: black;
    border-radius: 15px;
}

.display {
    height: 120px;
    margin: 15px;
    color: white;
    text-align: right;
}

.equationDisplay {
    font-size: 24pt;
    color: #9b9b9b;
    height: 30px;
}

.resultsDisplay {
    font-size: 52pt;
    margin-top: -20px;
    margin-bottom: 0;
}

button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 28pt;
    width: 70px;
    color: white;
    background-color: #252525;
    border: 1px solid;
    border-radius: 50%;
}

button:hover {
    background-color: #505050;
}

.operatorBtn {
    background-color: #EA8120;
}

.operatorBtn:hover{
    background-color: white;
    color: #EA8120;
}

[id="0"] {
    width: 155px;
    padding-left: 25px;
    border-radius: 30pt;
    text-align: left;
}